# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml

# Documentation
README.md