POSTGRES_DB=your_NAME
POSTGRES_USER=your_USER
POSTGRES_PASSWORD=your_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

TELEGRAM_BOT_TOKEN=your_token
TELEGRAM_CHAT_ID=your_chat_id

CELERY_BROKER_URL=redis://redis:6379/0